.container{
	margin: 0 auto;
	width: 1200px;
}
.body{
	padding: 70px 0px;
  	background: #fff;
  	position: relative;
}
.container:before,.container:after{
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	position: relative;
	overflow: hidden;
}
.clearfix:before,clearfix:after{
	content: '';
	display: block;
	height: 1px;
	visibility: hidden;
	clear: both;
}
.grid{
	margin-bottom: 40px;
}
.grid-2{
	width: 50%;
}
.grid-3{
	width: 33.3%;
}
.grid-4{
	width: 25%;
}
.layout{
	position: relative;
}
.more{
    display: block;
    height: 32px;
    border: 1px solid #bbb;
    width: 150px;
    text-align: center;
    line-height: 32px;
    color:#bbb;
    margin:0 auto;
    transition: all 1s;
}
.more:hover{
	border-color: 666;
	color:#666;
}
.mt20{
	margin-top: 20px;
}
/**
 * header
 */
.layout .header{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	min-height: 60px;
	background:rgba(255,255,255,1);
	box-shadow: 0 0 4px #CCCCCC;
	z-index: 99;
}
.layout .header .logo{
 	height: 60px;
}
.layout .header .logo img{
	height: 40px;
	margin-top: 10px;
}
.layout .header .menu{
	list-style: none;
}
.layout .header .menu li{
	list-style: none;
	line-height: 60px;
	padding:0 20px;
	cursor: pointer;
	position: relative;
	margin-left: 10px;
}
.layout .header .menu li:after{
	content: '';
	position: absolute;
	bottom:0;
	left: 50%;
	width: 0;
	height: 2px;
	background:#092A5E;
	transition: all .3s .1s;
	opacity: 0;
}
.layout .header .menu li.active:after{
	left: 0;
	width: 100%;
	opacity: 1;
}
.layout .header .menu li:hover:after{
	left: 0;
	width: 100%;
	opacity: 1;
}
/**
 * com
 */
.layout .banner{
	height: 450px;
}
.layout .banner .slider{
	height: 550px;
	background: url(../img/index_banner1.jpg) no-repeat center center;
	background-size: cover;
}
.layout .content{
	margin-top: 60px;
}
.layout .title{
	font-size: 24px;
	font-weight: normal;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 0px;
	color: #444;
	font-family: "Microsoft YaHei";
}
.layout .sub-title{
	font-size: 13px;
	text-align: center;
	color: #848484;
	margin: 10px auto;
	font-family: "Microsoft YaHei";
}
.layout .dec{
	font-size: 14px;
	text-align: center;
	width: 80%;
	color: #848484;
	margin: 0px auto;
	margin-bottom: 10px;
	font-family: "Microsoft YaHei";
}
.layout .grid a{
	display: block;
	margin:0 25px;
}
.layout .grid img{
	width: 100%;
}
.line-title{
	font-size: 16px;
	height: 46px;
	line-height: 46px;
	color: #595959;
	transition: all ease-out 0.2s;
	border-bottom: 1px solid #E1E1E1;
	position: relative;
}
.line-title:before{
	position: absolute;
	content: "";
	width: 0px;
	height: 1px;
	background-color: #3C3C3C;
	margin-top: 46px;
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.layout a:hover .line-title:before{
	width: 100%;
}
.txt{
	color: #848484;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	margin-top: 10px;
}
.pannel{
	padding-top: 20px;
}
.index .about .title,.index .about .sub-title,.index .about .dec{
	text-align: left;
	margin-left: 0;
}
.index .about{
	overflow: hidden;
}
.index .about .pannel{
	margin:0 25px;
}
.index .about .img{
	width: 350px;
}
.index .about .right{
	margin-left: 400px;
}
.index .about .txt{
	height: 150px;
	overflow: hidden;
}
.index .about .more{
	margin-left: 0;
}
.index .news .pic{
	width: 150px;
	height: 120px;
}
.index .news .right{
	margin-left: 160px;
}
/**
 * footer
 */
.footer{
	text-align: center;
	box-shadow: 0 0 4px #444;
	padding: 40px 0;
}
